@font-face {
    font-family: Dekko;
    src: url(./Dekko-Regular.ttf);
}

:root {
    --gamboge: #EC9A29;
    --blackOlive: #3B413C;
    --ashGray: #9DB5B2;
    --lightCyan: #DAF0EE;
    --tiffanyBlue: #94D1BE;
    --buff: #EDB88B;
    --taupe: #857C8D;
    --pine: #136F63;
    --apricot: #FFC9B5;
    --black: #050505;
    --lightGray: #CCCCCC;
    --white: #F5F5F5;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body, 
html {
    min-height: 100vh;
}

body {
    display: flex;
    align-items: stretch;
}

.main {
    width: 100%;
    display: grid;
    grid: auto 1fr auto / auto 1fr;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    font-family: Dekko;
    display: flex;
    align-items: center;
    gap: 55px;
    padding: 1rem 0rem 1rem 2rem;
    border-bottom: 1px solid var(--lightGray);
}

#menu-button {
    height: 40px;
    cursor: pointer;
    padding: 8px;
    background-color: var(--white);
    border-radius: 3px;
}
    #menu-button:hover {
        background-color: var(--tiffanyBlue);
    }


.content {
    grid-area: 2/2/3/3;
    background-color: var(--lightCyan);
    display: flex;
    flex-wrap: wrap;
}

    .sidebar {
        background-color: var(--tiffanyBlue);    
        border-right: 1px solid var(--lightGray);
        height: 100%;
        width: 400px;
        padding: 2rem;
        display: grid;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.75s, width 0.75s, visibility 0.75s;
    }
        .sidebar.closed {
            opacity: 0;
            visibility: hidden;
            width: 0px;
            padding: 0;
        }
        .full-size {
            width: 100vw;
        }
        
    .page {
        background-color: var(--lightCyan);
        flex: auto;
    }


footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    font-family: Dekko;
}

a {
    text-decoration: none;
    color: var(--black);
}
a:hover {
    color: var(--blackOlive);
}

/* .test {
    width: 300px;
    height: 300px;
    background-color: #EC9A29;
} */